
footer a{
    text-decoration: none;
    color: black;
}

footer ul{
    list-style: none;
}

footer{
    background-color: rgb(212, 208, 208);
    bottom: 0px;
    
}

p#texto-rodape {
    text-align: center;
}

div#rodape {
    background-color: #343a40;
    color: rgb(212, 208, 208);
    font-size: 9pt;
}

p.ident{
    text-indent: 5em;
}
div#titulo {
    background-color: rgb(212, 208, 208); ;
}